@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    background-color: #15171e;
    font-weight: 300;
} /*Set margin to 0 so that the navigation bar can fill the rest of the screen*/

.header {
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #15171e;
    z-index: 1;
} /*Display and Justify-content to spread out elements to specifications;
    position set to sticky so it follows the viewport when scrolling down the page;
    width set to 100% to fill the rest of the screen;
    padding to give space between the elements to the background color;
    background color set to specifications;
    box-shadow to match wit the wireframe;
    Z-index to make it mask all over the screen*/

#nameHeader {
    font-size: 1em;
    padding: 40px;
    margin: 0px;
} /*Set heading size to specification*/

.headerNav {
    padding: 40px;
    display: flex;
    gap: 48px;
    align-items: center;
} /*Gap adjustments set to large spacing desktop specifications*/

button {
    padding: 10px 16px;
    background-color: #148eff;
    color: white;
    border: none;
    border-radius: 5px;
} /*Padding adjustments set the button header to the right size*/

.signUpLogin {
    width: 1400px;
    margin: auto; 
    background-color: #23262c;
    border-radius: 10px;
} /*Set element width to specifications*/

.leftSide {
    padding: 40px;
}

#welcomeText {
    font-size: 27px;
    margin:0px;
}

input[type=text], input[type=password] {
    width: 600px;
    height: 35px;
    background-color: #15171E;
    color: white;
    border: solid #999999;
    border-width: 0.3px;
    box-shadow: inset -4px -4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
}

label {
    font-size: 30px;
}

#buttonCreateAccount {
    border-radius: 0px;
    width: 612px;
    font-weight: 700;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

#buttonLogin {
    border-radius: 0px;
    width: 377px;
    font-weight: 700;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.squareOne, .squareTwo, .squareThree {
    border-radius: 0px;
    width: 58.8px;
    height: 58.8px;
    color: #148eff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#signUp {
    font-size: 110px;
    font-weight: 900;
    margin:0px;
}

#signupLink {
    color: #148eff;
}

#loginLink {
    color: #148eff;
    font-size: 20px;
    font-weight: 700;
}

